.block-system .migrate-log-ui-message-filter-form {
  padding: 0.5rem 1.5rem;
}
.migrate-log-ui-message-filter-form .fieldset__wrapper {
  display: flex;
  margin: 0.5rem 1.5rem;
}
.migrate-log-ui-message-filter-form .form--inline .form-item.form-type--checkbox {
  margin-top: 3.2rem;
}
.migrate-log-ui-message-filter-form .section_m2 .claro-details__wrapper {
  margin: 0 1.25rem;
}
.migrate-log-ui-message-filter-form .section_m2 .claro-details__wrapper .form--inline {
  padding: 0;
}
.migrate-log-ui-message-filter-form .form--inline .form-item {
  margin-right: 1.5rem;
}
